*{
    margin: 0;
    padding: 0;
}
.yes,.no{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: bisque;
}